{% extends 'base.html.twig' %}

{% block title %}User Items!{% endblock %}

{% block body %}
  {% include 'header.html.twig' %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .collection-link {border:solid; margin: 1em auto; background-color: rgba(238,180,217,0.26)}

    </style>

    <div class="example-wrapper">
        <div class="items-collection">
            {% for item in attributeValues %}
            <a href="/collection/{{ item.id }}/update">
                <div class="collection-link">
                     {{ item.name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
