{% extends 'base.html.twig' %}

{% block title %}users{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% if items %}
       {% for item in items %}
            <a href = '/item/{{ item }}'>founded item</a>
        {% endfor %}
    {% else %}
        <span>No results</span>
    {% endif %}
{% endblock %}
